.calc-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(60px, auto) repeat(5, 60px);
  justify-content: center;
  align-content: center;
  background: rgb(216, 216, 216);
}

.output {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background: gray;
  grid-column: 1 / -1;
  font-size: 2rem;
  color: white;
  padding: 1.5rem 0;
}

.zero-span2 {
  grid-column: 1 / 3;
}

.calc-container > button {
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  text-align: center;
  border-bottom: 2px solid rgb(190, 189, 189);
  border-right: 2px solid rgb(190, 189, 189);
}

button:nth-child(4n+1),
button:nth-child(20) {
  border-right: none;
  background-color: rgb(236, 154, 2);
}
